{% extends 'base.html.twig' %}

{% block title  %}{{ parent() }}Bucky{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-2 mb-2">
            <img class="card-img img-fluid" src="{{ asset('img/magic-lamp-large-2.jpg') }}" alt="Magic lamp">
            <div class="card-img-overlay text-white d-flex justify-content-center align-items-center overlay-dark">
                <div class="col text-center">
                    <p class="display-3">
                        <strong>Rejoignez Bucky et gérez vos Vœux!</strong>
                    </p>
                    <p class="h2">
                        <a href="#" class="link-light">
                            <span class="icon"><i class="fas fa-star"></i></span>
                            {{ 'Créez votre compte maintenant'|upper }}
                            <span class="icon"><i class="fas fa-star"></i></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% for wish in wishes %}
            <div class="col mb-1 mt-2">
                <div class="card list-wishes">
                    <a href="{{ path('wish_detail', {id:wish.id}) }}" class="stretched-link"></a>
                    <div class="bd-placeholder-img">
                        <img src="{{ asset('img/wish.jpg') }}" alt="look up to the stars" class="img-wish rounded float-start">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ wish.title }}</h5>
                        <p class="card-text">{{ wish.author }}</p>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}