{% extends 'base.html.twig' %}

{% block title  %}{{ parent() }}Detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mb-3 mt-2">
            <div class="card-body text-center">
                <h1 class="card-title"><i class="fas fa-star text-warning"></i> {{ wish.title }} <i class="fas fa-star text-warning"></i></h1>
                <h5 class="card-text">
                    {{ wish.author }}
                </h5>
                <p class="card-text">
                    {{ wish.description }}
                </p>
                <img src="{{ asset('img/wish.jpg') }}" class="card-img-bottom rounded w-50 h-auto" alt="wish image">
                <p class="card-text">
                    <small class="text-muted">Publié le {{ wish.dateCreated|date('d/m/Y à H:i') }}</small>
                </p>
            </div>
        </div>
    </div>

{% endblock %}