{% extends 'base.html.twig' %}

{% block title  %}{{ parent() }}Detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-lg-8 p-0 bg-light">
                <div class="card-body text-center p-0">
                    <h4 class="card-header dark-blue text-white mb-2 ms-0"><i class="fas fa-star text-warning"></i> {{ wish.title }}</h4>
                    <h5 class="card-text">
                        {% for category in wish.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </h5>
                    <blockquote class="blockquote mb-0 mx-2">
                        <p class="">{{ wish.description }}</p>
                        <footer class="blockquote-footer my-1"><span class="card-title h5">{{ wish.author }}</span><cite title="Source Title">, <small>le {{ wish.dateCreated|date('d/m/Y à H:i') }}</small></cite></footer>
                    </blockquote>
                    <img src="{{ asset('img/wish.jpg') }}" class="card-img-bottom rounded w-50 h-auto mb-2" alt="wish image">

                    <div class="row mx-2">
                        <div class="container border-top">
                            <div class="row mx-2 my-2">
                                <div class="col align-self-start text-dark-blue">
                                    {{ wish.likes }} like{{ wish.likes>1 ? 's' : ''}}
                                </div>
                                <div class="col align-self-end text-dark-blue">
                                    {{ totalReactions }} réponse{{ totalReactions>1 ? 's' : ''}}
                                </div>
                            </div>
                        </div>
                        <div class="container border-top">
                            <div class="row mx-2 my-2">
                                <div class="col align-self-start text-dark-blue">
                                    <span role="button" class="fs-5 hover-red">
                                        <i class="far fa-heart"></i>
                                    </span>
                                </div>
                                <div class="col align-self-end text-dark-blue">
                                    <span role="button" class="fs-5 hover-green" data-bs-toggle="modal" data-bs-target="#displayReactionForm">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for reaction in reactions %}
                        <div class=" border-top text-start">
                            <div class="px-3 mt-2 mb-0">
                                <p class="mb-2 mx-2">
                                    {{ reaction.message }}
                                    <br>
                                    <span class="card-title "><strong>{{ reaction.author }}</strong></span><cite title="Source Title">, <small class="fw-light">le {{ reaction.dateCreated|date('d/m/Y à H:i') }}</small></cite>
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                    {% if totalPages > 1 %}
                        <div class="row mx-2">
                            <div class="container border-top">
                                <nav aria-label="navigate" class="mb-0 mt-2">
                                    <ul class="pagination">
                                        {% if (currentPage > 1) %}
                                            <li class="page-item">
                                                <a class="page-link page-inactive" href="{{ path(route, {'page': 1, 'id':id}) }}"><i class="fas fa-angle-double-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link page-inactive" href="{{ path(route, {'page': currentPage-1, 'id':id}) }}"><i class="fas fa-angle-left"></i></a>
                                            </li>
                                        {% endif %}

                                        {% for num in currentPage-2..currentPage+2 %}
                                            {% if (num > 0 and num <= totalPages) %}
                                                <li class="page-item">
                                                    <a class="page-link {% if (num==currentPage) %}dark-blue text-white{% else %}page-inactive{% endif %}"
                                                       href="{{ path(route, {'page': num, 'id':id}) }}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if (currentPage < totalPages) %}
                                            <li class="page-item">
                                                <a class="page-link page-inactive" href="{{ path(route, {'page': currentPage+1, 'id':id}) }}"><i class="fas fa-angle-right"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link page-inactive" href="{{ path(route, {'page': totalPages, 'id':id}) }}"><i class="fas fa-angle-double-right"></i></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    {% endif %}

                    {#{{ include('main/_pagination.html.twig') }}#}

                </div>
            </div>


            {% if app.user %}
                <!-- Modal -->
                <div class="modal fade" id="displayReactionForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-light">
                                <div class="col-1 align-self-start">
                                    <button role="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="col-11">
                                    <p class="modal-title" id="modalLabel">{{ wish.description }} - <strong class="text-dark-blue">{{ wish.author }}</strong></p>
                                </div>
                            </div>
                            <div class="modal-body bg-light">
                                {{ form_start(reactionForm) }}

                                {{ form_widget(reactionForm) }}

                                <div class="col-2 align-self-end">
                                    <button class="btn dark-blue text-white mt-2">Réagir</button>
                                </div>

                                {{ form_end(reactionForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}