{% extends 'base.html.twig' %}

{% block title  %}Wishes{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des voeux <i class="bi bi-stars"></i></h1>

        {% for wish in wishes %}
            <div class="col mb-1 mt-2">
                <a href="{{ path('wish_detail', {id:wish.id}) }}" class="no-underline">
                    <div class="card list-wishes">
                        <div class="bd-placeholder-img">
                            <img src="{{ asset('img/wish.jpg') }}" alt="look up to the stars" class="img-wish rounded float-start">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ wish.title }}</h5>
                            <p class="card-text">{{ wish.author }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}