{% extends 'base.html.twig' %}

{% block title  %}Wishes{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-dark-blue">Liste des vœux <i class="bi bi-stars"></i></h1>

        {{ include('wish/_list_wishes.html.twig') }}

        <nav aria-label="navigate list wishes" class="mb-1 mt-2">
            <ul class="pagination">
                {% if (currentPage > 1) %}
                    <li class="page-item">
                        <a class="page-link page-inactive" href="{{ path('wish_list', {'page': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-inactive" href="{{ path('wish_list', {'page': currentPage-1}) }}"><i class="fas fa-angle-left"></i></a>
                    </li>
                {% endif %}

                {% for num in currentPage-2..currentPage+2 %}
                    {% if (num > 0 and num <= totalPages) %}
                        <li class="page-item">
                            <a class="page-link {% if (num==currentPage) %}dark-blue text-white{% else %}page-inactive{% endif %}"
                               href="{{ path('wish_list', {'page': num}) }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if (currentPage < totalPages) %}
                    <li class="page-item">
                        <a class="page-link page-inactive" href="{{ path('wish_list', {'page': currentPage+1}) }}"><i class="fas fa-angle-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-inactive" href="{{ path('wish_list', {'page': totalPages}) }}"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {#{{ include('main/_pagination.html.twig') }}#}

    </div>
{% endblock %}
